<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="demands" icon="ios-arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes do Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-col padding>
    <ion-card padding>
      <ion-text color="dark">
        Detalhes do pedido <strong>183014608</strong>
      </ion-text>
    </ion-card>
    <ion-item>
      <ion-label>
        <h5 color="dark">Número</h5>
        <p>104066994</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h5 color="dark">Valor</h5>
        <p>R$ 784.34</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h5 color="dark">Cliente</h5>
        <p>3153 - MOTO PEÇAS BRASIL * REAL</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h5 color="dark">Nota Fiscal</h5>
        <p>409693</p>
      </ion-label>
    </ion-item>
  </ion-col>
</ion-content>
