.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}
.weigth-100 {
    font-weight: 100
}
.font-12 {
    font-size: 12px
}
.width-100 {
    width: 100%
}
.color-primary {
    color: #3880ff
}
.hr-padding {
    padding: 0px 20px 0px 20px
}
.hr-gray {
    background: #ddd
}
