<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding-top>
  <ion-row class="padding-horizontal">
    <ion-col size="9">
      <ion-item lines="none">
        <div class="width-100">
          <div>
            <ion-text color="dark">
              <strong>
                183014608
              </strong>
            </ion-text>
          </div>
          <ion-card-subtitle class="ellipsis weigth-100 font-12">
            <ion-text color="medium">
              12212 - AUTO ELETRICA E MECANICA AUTRIZADA
            </ion-text>
          </ion-card-subtitle>
        </div>
      </ion-item>
    </ion-col>
    <ion-col padding-top size="3" class="text-center">
      <ion-button size="small" class="font-12" (click)="presentActionSheet()">
        <ion-text>
          AÇÕES
        </ion-text>
      </ion-button>
    </ion-col>
    <ion-col class="hr-padding">
      <hr class="width-100 hr-gray">
    </ion-col>
  </ion-row>
</ion-content>
