<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding-top>
  <ion-row>
    <ion-col size="9">
      <ion-item lines="none">
        <div class="width-100">
          <div>
            <ion-text color="dark">
              <strong>
                183014608
              </strong>
            </ion-text>
          </div>
          <ion-card-subtitle class="ellipsis weigth-100 font-12">
            <ion-text color="medium">
              12212 - AUTO ELETRICA E MECANICA AUTRIZADA
            </ion-text>
          </ion-card-subtitle>
        </div>
      </ion-item>
    </ion-col>
    <ion-col size="3">
      <ion-card-subtitle padding-top padding-bottom>
        <div class="weigth-100 text-center font-12">
          <ion-text color="primary">
            AÇÕES
          </ion-text>
        </div>
      </ion-card-subtitle>
    </ion-col>
    <ion-col class="hr-padding">
      <hr class="width-100 hr-gray">
    </ion-col>
  </ion-row>
  <!-- <ion-row>
    <ion-col size="9">
      <ion-item lines="none">
        <div>
          <div>
            <strong>183014608</strong>
          </div>
          <ion-card-subtitle>
            12212 - AUTO ELETRICA E MECANICA
          </ion-card-subtitle>
        </div>
      </ion-item>
    </ion-col>
    <ion-col size="3">
      <ion-card-subtitle padding-top padding-bottom>
        <div color="primary">AÇÕES</div>
      </ion-card-subtitle>
    </ion-col>
  </ion-row> -->
</ion-content>
