<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card [routerDirection]="'root'" [routerLink]="'/demands'">
    <ion-row>
      <ion-col size="10">
        <ion-item lines="none">
          <ion-icon slot="start" color="medium" name="person"></ion-icon>
          <ion-label>Meus pedidos</ion-label>
        </ion-item>
      </ion-col>
      <ion-col padding>
        <ion-badge color="primary">7</ion-badge>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-button expand="full">Atualizar</ion-button>
</ion-footer>
